// Cores Primarias


// Cores Neutras
$branco: hsl(0, 0%, 100%);
$cinzaVioletaClaro: hsl(270, 3%, 87%);
$cinzaVioletaEscuro: hsl(279, 6%, 55%);
$violetaEscuro: hsl(278, 68%, 11%);
$vermelho: hsl(0, 100%, 66%);

$gradiente1: hsl(249, 99%, 64%);
$gradiente2: hsl(278, 94%, 30%);